# https://editorconfig.org/

[*]
indent_style = space
indent_size = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts,xml}]
indent_size = 4
max_line_length = 150

[*.{kt,kts}]
# Compose function naming exception
ktlint_function_naming_ignore_when_annotated_with=Composable

# Disable other rules
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-empty-file = disabled
ktlint_standard_filename = disabled

# Trailing commas
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.md]
trim_trailing_whitespace = false
