<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mxt.anitrend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".App"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity android:name=".view.activity.index.SplashActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".view.activity.index.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" />

        <activity
            android:name=".view.activity.base.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.activity.index.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.index.MainActivity" />
        </activity>

        <activity android:name=".view.activity.detail.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTop" />

        <activity android:name=".view.activity.detail.MessageActivity"
            android:label="@string/title_activity_message" />

        <activity android:name=".view.activity.index.LoginActivity"
            android:theme="@style/AppThemeLight.Translucent"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="intent"
                    android:host="com.mxt.anitrend" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.detail.ProfileActivity"
            android:label="@string/drawer_title_profile">
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/user.*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.detail.SeriesActivity"
            android:label="@string/title_activity_series">
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/manga.*" />

                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/anime.*" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.detail.CharacterActivity"
            android:label="@string/title_activity_character">
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/character.*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.detail.StaffActivity"
            android:label="@string/title_activity_staff">
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/staff.*" />
                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/actor.*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.detail.StudioActivity"
            android:label="@string/title_activity_studio">
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="anilist.co"
                    android:pathPattern="/studio.*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.detail.FavouriteActivity"
            android:label="@string/title_favourites_list" />

        <activity android:name=".view.activity.detail.SeriesListActivity"
            android:label="@string/title_activity_user_list_view" />

        <activity android:name=".view.activity.detail.BrowseActivity"
            android:launchMode="singleTop" />

        <activity android:name=".view.activity.base.AboutActivity"
            android:label="@string/nav_about"
            android:launchMode="singleTop" />

        <activity android:name=".view.activity.index.SearchActivity"
            android:label="@string/action_search"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.activity.detail.CommentActivity"
            android:label="@string/title_activity_reply"
            android:launchMode="singleTop" />

        <activity android:name=".view.activity.base.SharedContentActivity"
            android:label="@string/menu_title_new_activity_post"
            android:theme="@style/AppThemeLight.Translucent"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.base.WelcomeActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.activity.base.ImagePreviewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.activity.base.GiphyPreviewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.activity.base.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop" />

        <service android:name=".service.TagGenreService" />
        <service android:name=".service.AuthenticatorService" />

        <receiver android:name=".receiver.SchedulerDelegate">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.JobDispatcherService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>
</manifest>
